{{define "content"}}
<h1 class="text-4xl font-semibold py-4">FAQ</h1>
<ul class="grid grid-cols-2 gap-4">
  {{range .}}
  {{template "qa" .}}
  {{end}}
</ul>
{{end}}


{{define "qa"}}
<li class="py-2 border-b border-gray-200">
  <h3 class="text-lg font-semibold">{{.Question}}</h3>
  <p class="text-gray-600">{{.Answer}}</p>
</li>
{{end}}