{{define "content"}}

<h1> Welcome to the home page </h1>

<p> This is the home page </p>

<p> The date and time is {{ .Date }} </p>

{{template "lorem-ipsum"}}

{{end}}

{{define "lorem-ipsum"}}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua.
{{end}}